.users {
  width: 30rem;
  font-size: 1.5rem;
  line-height: 1.3;

  .users_group {
    margin: auto;
    width: 60%;
  }

  button {
    width: 200px;
    margin-bottom: .5rem;
  }

  .group_btns {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
}