@import "../../styles/styles";
h2,
h3 {
  //color: rgba(0, 0, 0, 0.78);
  text-align: center;
  margin-bottom: 1em;
}

.app {
  color: white;
  position: relative;
  background: linear-gradient(120deg, $primary, $secondary);
  overflow: hidden;
  min-height: 100vh;
  padding-top: 100px;
}
.container {
  min-width: 40%;
}
.btn {
  border: none;
  border-radius: 4px;
  padding: 1em;
  width: 8em;
  cursor: pointer;
  background-color: white;
  margin: 0;
  &:focus {
    outline: none;
    border: none;
  }
}

.border {
  border-radius: 4px;
}
//
//.user__form {
//  display: grid;
//  grid-gap: 1.5rem;
//}
