@import "../../styles/styles";

.app {
  position: relative;
  background: linear-gradient(120deg, $primary, $secondary);
  overflow: hidden;
  min-height: 100vh;
  //display: grid;
  //grid-template-columns: 100%;
  //grid-template-rows: auto;
  //align-items: center;
}
.btn {
  border: none;
  border-radius: 4px;
  padding: 1em;
  width: 8em;
  cursor: pointer;
  background-color: white;
  margin: 0;
  &:focus {
    outline: none;
    border: none;
  }
}

.border {
  border-radius: 4px;
}
