$primary: rgba(17, 153, 142, 0.42);
$secondary: #38ef7d;
$white: #fff;
$gray: #fafafa;
.form {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.count {
  display: block;
  text-align: left;
  margin-top: 1rem;
  font-weight: 700;
  color: $white;
  width: 50%;
}
.btn {
  background-color: transparent;
  transition: all ease-in 2s;
  position: absolute;
  right: 0;
  bottom: 1px;
  padding: 1em;
  //filter: blur(10px);
  span {
    color: white;
    font-size: 1rem;
  }
  &:hover {
    background-color: rgba(17, 153, 142, 0.42);
  }
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  //border-bottom: 2px solid $gray;
  display: flex;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  //border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
