$primary: rgba(17, 153, 142, 0.42);
$secondary: #38ef7d;
$white: #fff;
$gray: #fafafa;

.form {
  text-align: center;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  div {
    width: 100%;
    position: relative;
    padding: 1em 0 1em 0;
  }
}
.count {
  font-weight: 700;
  color: $white;

  &:nth-child(n) {
    width: 100%;
  }
  span {
    display: block;
  }
}
.btn {
  background-color: transparent;
  transition: all ease-in 1s;
  color: white;
  padding: 1em;
  width: auto;
  //filter: blur(10px);
  &__add {
    position: absolute;
    right: 0;
    bottom: 18px;
  }
  &__del {
    position: absolute;
    right: 0;
    bottom: 1px;
  }

  &:hover {
    background-color: rgba(17, 153, 142, 0.42);
  }
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  display: flex;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
}

.form__field:focus {
  border-image-slice: 1;
}

/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.form__greet {
  display: grid;
  grid-gap: 1.5rem;
  margin-top: 1.5rem;
}
